* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: static;
    width: 100%;
    display: flex;
    padding: 33px;   /* Altura da navbar */
    background: #e98a0f;
    justify-content: center;

}
#logo{
    position: absolute;
    display: flex;
    top: 0px;
    left: 850px;
    justify-content: center;
    
}
#carrinho{
    position: relative;
    height: 60px;
    width: 60px;
    left: 1000px;
}
#ncliente{
    height: 60px;
    width: 180px;
    position: relative;
    left: -180px;
}
#pesquisa {
    width: 600px;
    height: 25px;
    position: absolute;
    left: 0;
    right: 90px;
    margin: auto;
    margin-top: 20px;
}
#search{
    background-color: blue; 
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 25px;
    position: absolute;
    left: 620px;
    right: 0;
    margin: auto;
    margin-top: 20px;

}
a:link,
a:visited {
    color: #000000;             /*Cor letras menu 2*/
    text-decoration: none;
    font-family: cursive;
}
a:hover {
    text-decoration: underline;
}

.menu {
    margin-top: 60px;  /* Posição do menu perante o logo. */
    font-family: cursive;
    font-size: large;

}

.menu > li {
    display: inline;
    margin-right: 50px;     /* Espaçamento entre menu das peças. */
}

.features-menu {
    background: #000000;
    border-radius: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 2;     /*!!!IMPORTANTE!!!--SOBREPÕE-SE SOBRE O RESTO DA PÁGINA*/
    
}

.features-menu li {
    list-style: none;
    border-bottom: 1px solid rgb(219, 182, 79);    /*Submenu2*/
    padding: 0 0px 0px 0px;
    margin: 10px;
}
  
.features-menu li:last-of-type {
    border-bottom: none;
}

.features-menu {
    display: flex;
    flex-direction: column;
    background: #e98a0f;
    border-radius: 10px;
    padding-top: 0px;
    box-sizing: content-box;
    position: absolute;
    top: 0px;
    left: 0px;
}

.dropdown {
    position: relative;
    left: -90px;            /*Posição menu 2.*/
    right: auto;
    
  }

.dropdown > span {
    position: relative;
    cursor: pointer;
}

.dropdown:hover .features-menu {
    display: flex;
    flex-direction: column;
    background: #e98a0f;

}

.features-menu {
    display: none;
}
.barra_adicional{
    position: absolute;
    top: 0px;
    left: 1550px;

}
.body{
    text-align: center;    
}
.rodape{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    top: 800px;
    left: 280px;
}
#news{
    position: relative;
    left: 590px;
    top: -260px;
}
.corpo_contactos{
    text-align: center;    
}
#m_pagamento{
    width: 250px;
    height: 170px;
    position: relative;
    left: -250px;
    top: -83px;
}
#portes{
    width: 250px;
    position: relative;
    left: -497px;
    top: 340px;
}
.barra_superior{
    background-color: #f8b358;
    width: 735px;
    height: 80px;
    position: relative;
    top: -250px;
    left: 710px;
    text-align: left;
    border-style: groove;
    font-family: monospace;
    font-size: 17px;

}
.informaçoes{
    border-style: groove;
    width: 735px;
    height: 500px;
    position: relative;
    top: -245px;
    left: 710px;
    /*background-color: #c0c0c0;*/
}
#text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    position: relative;
    left: 5px;

}
#cabeçalho{
    font-family: monospace;
    font-size: 25px;
}
#logo_informaçoes{
    position: relative;
    width: 250px;
    top: 185px;
    border-radius: 6px;
    left: 104px;


}
#logo_numero{
    background-color:#e98a0f;
    position: relative;
    border-radius: 8px;
    width: 210px;
    top: 100px;
    left: -130px;
}
.serviço{
    width: 230px;
    text-align: justify;
    position: relative;
    top: -665px;
    left: 460px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}