* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: flex;
    padding: 33px;   /* Altura da navbar */
    background: #e98a0f;
    justify-content: center;

}
#logo{
    position: absolute;
    display: flex;
    top: 0px;
    justify-content: center;
    
}
#carrinho{
    height: 60px;
    width: 60px;
    position: relative;
    left: 500px;
}
#ncliente{
    height: 60px;
    width: 180px;
    position: relative;
    left: -500px;
}
#pesquisa {
    width: 600px;
    height: 25px;
    position: absolute;
    left: 0;
    right: 90px;
    margin: auto;
    margin-top: 20px;
}
#search{
    background-color: blue; 
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 25px;
    position: absolute;
    left: 620px;
    right: 0;
    margin: auto;
    margin-top: 20px;

}